/* Estilos básicos para layout contínuo e carrosséis */
/* Estilos básicos para layout contínuo */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

/* Configurações da seção */
.section {
    min-height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Página 1 com a primeira imagem de fundo */
.section.intro {
    background: url('../assets/images/background1.jpg') no-repeat center center;
    background-size: cover;
    color: black; /* Cor do texto para contraste */
    position: relative;
}

/* Foto e cidade no canto superior esquerdo */
.top-left {
    position: absolute;
    top: 80px;
    left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cidade {
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}

.profile-photo {
    width: 250px;
    height: 250px;
    border-radius: 0%; /* Deixa a foto redonda */
    border: 2px solid black; /* Borda para destacar a foto */
}

/* Nome e título centralizados */
.center-content {
    text-align: center;
    position: absolute; /* Posiciona em relação ao contêiner pai */
    top: 0; /* Coloca no topo */
    left: 50%; /* Posiciona horizontalmente no centro */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    margin-top: 20px; /* Ajuste conforme necessário para espaçamento */
}

.center-content h1 {
    font-size: 5em; /* Ajuste conforme necessário */
    margin: 0;
}

.center-content p {
    font-size: 5em;
    margin: 5px 0 0;
}

/* Páginas 2 a 5 com a segunda imagem de fundo */
.section.secondary {
    background: url('../assets/images/background2.jpg') no-repeat center center;
    background-size: cover;
    color: white; /* Ajuste a cor do texto para contraste */
}
/* Estilo dos carrosséis */
.carousel {
    display: flex;
    overflow-x: auto;
    gap: 20px;
}
.carousel-item {
    min-width: 300px;
    background: #ddd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
